body{
  background: url(https://swimmingthedepths.files.wordpress.com/2015/03/space-mountain-at-night-hd-mountain-scenery-wallpaper-hd-for-android-phones-walldevice-pictures.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  background-color: '#EEEEEE';
}

.App{
  background-color: '#EEEEEE';
}
